node_modules/
dist/
.env
*.log

frontend/node_modules/
recipe-service/node_modules/
notification-service/node_modules/

node.exe
npm
npm.cmd
npm.ps1
npx
npx.cmd
npx.ps1
corepack
corepack.cmd
install_tools.bat
nodevars.bat
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars

.vscode/